<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Vue js</title>

    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <!-- elemen kontainer untuk aplikasi -->
    <div id="app">

        <div class="komentar">
            <input type="button" value="+">
            <p>{{ message }}</p>
            <input type="button" value="-">
        </div>
        
        <textarea v-model:value="message"></textarea>>
    </div>
    
    <!-- aplikasi Vue  -->
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "",
                date: "",
                score: ""
            }
        })
    </script>    
</body>
</html>